@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Source+Code+Pro:wght@500&family=Tomorrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.footer{
    
    bottom:0;
}
.background-gray{
    background-color: #E5E5E5;
}
.background-white{
    background-color: white;
}

.font-tomorrow{
    font-family: 'Tomorrow', sans-serif;
}


#rs-button-1{
    background: #7962F5;
    border-radius: 10px; 
    width: 121px;
    height: 41px; 
    margin-left: 50px;
    margin-right: 20px;
}
#rs-button{
    background: #7962F5;
    border-radius: 10px; 
    width: 121px;
    height: 41px; 
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #7962F5;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #7962F5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
#header-tabs{
   color: black;
   font-weight: 500; 
   margin-left:50px;
   margin-right:50px;
}

#footer-foot{
    color:white;  
    margin:auto;
    margin-top: 2vh;
    margin-bottom: 2vh;

}
#links{
    color:white;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#foot-card-body{
    margin-inline: 8vw;
    margin-top: 3vh;
    margin-bottom: 6vh;

}

#footer-bot{
    background:#5435FB;
    color:white;
    width:100%;
    margin:auto;
    box-sizing: border-box;
    
}

#footer-body{
    background:#7962F5;
    width:100%;
    margin:auto;
    box-sizing: border-box;
    overflow:hidden;
    justify-content: center;
    display:flex
}
#foot-title{
    font-weight: bold;
    font-size:x-large;
}

#dashboard-card{
    display: flex;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 3px solid rgba(121, 98, 245, 1);
    
}
.container-lp-1{

    margin:auto;
    background: white;
    display:flex;
    
    overflow: hidden;
    
}
.illus-1{
    display: block;
    margin-right: 0px;
    margin-left: auto;
}
.illus-arrow{
    margin-right: auto;
    margin-left: 30px;
    margin-top: 20px;
    
}
.social-column {
    flex: 50%;
    padding: 0 4px;
    margin-left: 25px;
  }
  
  .social-column img {
    margin-top: 8px;
    vertical-align: middle;
  }
#logo{
    display:block;
    margin-top: 30px;
    margin-bottom: 30px;
}
.land-text{
    margin-top: 90px;
    margin-left: 40px;
    padding: 0;
  
}
#vr{
    font-style: normal;
font-weight: 600;
font-size: 70px;
color: #917FED;
margin-bottom: 0px;

}
#meta{
    font-style: normal;
font-weight: 600;
font-size: 70px;
margin-bottom: 0px;
color: #1F1449;
}
#join-line{
    font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height */
margin:0px;

color: #1F1449;
}
#land-card{
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: inset 0px 39px 58px -36px rgba(255, 255, 255, 0.5), inset 0px 7px 11px -4px #FFFFFF, inset 0px -82px 68px -84px rgba(96, 68, 144, 0.3), inset 0px 98px 100px -48px rgba(202, 172, 255, 0.3), inset 0px 4px 18px rgba(154, 146, 210, 0.3), inset 0px 1px 4px rgba(238, 51, 221, 0.2);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */
    padding: 20px;
    margin: 15px;
    height: 300px;
    width: 500px;
    position: relative;
}
.land-images{
    height: 90px;
    margin-top: 15px;
}
.features{
    padding: 50px;
    margin-bottom: 50px;
}
.planet-2{
    position: absolute;
    bottom: 0px;
    left: 50%; 
    transform: translate(-150%, 40%); 
    
}
.planet-3{
    position: absolute;
    top: 0px;
    right: 50%; 
    transform: translate(280%, -30%); 
    
}
#rs-2-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.dash-images{
    
        width: 70px; 
        height: 70px;
        object-fit: cover;
        margin:5px;
}

.panel-3{
    width:100%;
    justify-content: center;
    align-items: center;
    position: relative;
    height:1200px;
    background: url("./Images/planet-panel.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}

.p3-background-planets{
    width:100%;
    z-index: -1;
}

#p3-card{
    background: rgba(255, 255, 255, 0.01);
    box-shadow: inset 0px 39px 58px -36px rgba(255, 255, 255, 0.5), inset 0px 7px 11px -4px #FFFFFF, inset 0px -82px 68px -84px rgba(96, 68, 144, 0.3), inset 0px 98px 100px -48px rgba(202, 172, 255, 0.3), inset 0px 4px 18px rgba(154, 146, 210, 0.3), inset 0px 1px 4px rgba(238, 51, 221, 0.2);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 60px;
    width: 365px;
    height: 236px;
    padding: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
    min-width: 300px;
    
}
.p3-cards{
    position: relative;
    margin:20px;
    height: 100%;
    color:white;
    min-width: 0;
    
}

.panel-3-2{
    width:100%;
    justify-content: center;
    align-items: center;
    position: relative;
    height:1200px;
    background: url("./Images/planets.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-attachment: fixed; */
    background-position:top;
    margin: 0;
}

.p3-2-text{
    position: relative;
    height: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
}
.panel-3-2-txt1{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
/* identical to box height */
margin-top: 10px;

color: #1F1449;
}
.panel-3-2-txt2{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 150px;
/* identical to box height */
margin-top: 10px;

color: #917FED;
}












@media screen and (min-width: 1000px)
{
    .p3-card-1{
        top: -7%;
    }
    .p3-card-2{
        top:  7%;
    }

}











@media screen and (max-width: 1000px) {
    .illus-1 {
      display: none;
    }
    *{
        overflow-wrap: anywhere;
    }
  }
@media screen and (max-width: 800px){
    .sidePanel{
        display: none;
    }
    #meta{
        font-size: 60px;
    }
    #land-card{
        height: 300px;
    width: 300px;
    }
    #rs-2-text{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
    }
    .p3-cards{
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .panel-3-2-txt2{
        font-size: 80px;
    }
}
